@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  text-decoration: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  /*   -webkit-appearance: none;*/
  border-radius: 0;
}

* img {
  max-width: 100%;
}

html {
  font-size: 10px;
}
@media (max-width: 700px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 6px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  padding: 0 10px;
  margin: 0 auto;
}

.car {
  padding: 6rem 0;
}

.car__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.car__item-stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin: 2rem 0;
}
.car__item-stars img {
  max-width: 2rem;
}

.car__item-wrapper {
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 800px) {
  .car__item-wrapper {
    row-gap: 5rem;
    flex-direction: column;
  }
}

.desc-car p {
  font-size: 1.6rem;
}
.desc-car__title {
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}
.desc-car span {
  position: relative;
  font-size: 1.4rem;
  color: gray;
}
.desc-car span::before {
  position: absolute;
  content: "✓";
  font-size: 1rem;
  color: green;
  left: -20%;
  top: -30%;
}

.img-car {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-car::before {
  z-index: 10;
  position: absolute;
  content: "Рассрочка 8 мес.";
  top: 0;
  left: 0;
  padding: 2rem;
  background-color: orange;
  border-radius: 50%;
  font-size: 1.4rem;
  color: black;
}
.img-car::before img {
  width: 40rem;
}

.circles {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.circle {
  background-color: gray;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.circle-active {
  background-color: #434343;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.cart__item-buttons {
  white-space: nowrap;
}
.cart__item-buttons p {
  margin-bottom: 3rem;
  font-size: 2.4rem;
  color: #434343;
  font-weight: bold;
}
.cart__item-buttons span {
  color: #434343;
  font-weight: bold;
  background-color: darkgrey;
  padding: 2rem;
  width: 6rem;
}

.cart__item-items {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.cart__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.cart__item-items {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  padding-top: 10rem;
}
@media (max-width: 660px) {
  .cart__item-items {
    row-gap: 5rem;
    flex-direction: column;
  }
}

.orange-btn {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
}

.item-checkbox {
  display: flex;
  position: relative;
}
.item-checkbox div {
  background-color: gray;
  border-radius: 5rem;
  width: 10rem;
  height: 5rem;
}
.item-checkbox span {
  z-index: 2;
  left: 0%;
  position: absolute;
  background-color: #b3b3b3;
  border-radius: 6rem;
  width: 5rem;
  height: 5rem;
}
